
.flex{
    display: flex;
}
:root {
    --primary: #000;
    --secondary: rgb(24, 24, 27);
    --border: rgba(63, 63, 70, 0.4);
    --title: rgb(244, 244, 245);
    --subtitle: rgb(161, 161, 170);
    --bgHeader: rgb(39, 39, 42);
    --blue: rgb(93, 188, 252);
  }
  
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  * {
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: initial;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;


.lottie {
  width: 350px !important;
}
.marquee {
 width: 1000px;
}
.svg-spacing {
  margin-right: 100px; /* Adjust the value as needed */
}
.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards; /* Slower duration */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.item{
  transition: 0.3s;
 
}
.item:hover{
  scale: 1.1;
  color: red !important;
}

.image1:hover {
  scale: 1; /* Initial scale */
  animation: grow 1s forwards; /* Animation duration */
}

@keyframes grow {
  0% {
    scale: 1; /* Start at original size */
  }
  50% {
    scale: 1.1; /* Scale up to 1.2 */
  }
  100% {
    scale: 1; /* Scale back to original size */
  }
}
body::-webkit-scrollbar {
  width: 0.6rem; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(173, 173, 173, 0.537); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #88888868; /* color of the scroll thumb */
  border-radius: 2px; /* roundness of the scroll thumb */
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #4444446a; /* color of the scroll thumb */
  border-radius: 2px; /* roundness of the scroll thumb */
}
html {
  scroll-behavior: smooth;
}
