
.flex{
    display: flex;
}
:root {
    --primary: #000;
    --secondary: rgb(24, 24, 27);
    --border: rgba(63, 63, 70, 0.4);
    --title: rgb(244, 244, 245);
    --subtitle: rgb(161, 161, 170);
    --bgHeader: rgb(39, 39, 42);
    --blue: rgb(93, 188, 252);
  }
  
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  * {
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: initial;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;


.lottie {
  width: 350px !important;
}

.svg-spacing {
  margin-right: 100px; /* Adjust the value as needed */
}
.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards; /* Slower duration */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.item{
  transition: 0.3s;
 
}
.item:hover{
  scale: 1.1;
  color: red !important;
}

.image1:hover {
  scale: 1; /* Initial scale */
  animation: grow 1s forwards; /* Animation duration */
}

@keyframes grow {
  0% {
    scale: 1; /* Start at original size */
  }
  50% {
    scale: 1.02; /* Scale up to 1.2 */
  }
  100% {
    scale: 1; /* Scale back to original size */
  }
}
body::-webkit-scrollbar {
  width: 0.6rem; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(173, 173, 173, 0.537); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #88888868; /* color of the scroll thumb */
  border-radius: 2px; /* roundness of the scroll thumb */
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #4444446a; /* color of the scroll thumb */
  border-radius: 2px; /* roundness of the scroll thumb */
}
html {
  scroll-behavior: smooth;
}
.services {
  transition: 0.4s;
}


.contact {
  transition: 0.4s;
  margin-top: 0.25rem; /* mt-1 */
  display: block;      /* block */
  width: 100%;        /* w-full */
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;/* px-4 */
  padding-top: 0.5rem;/* py-2 */
  padding-bottom: 0.5rem;/* py-2 */
  border: 1px solid rgba(156, 163, 175, 1); /* border & border-gray-300 */
  border-radius: 0.5rem; /* rounded-lg */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* shadow-sm */
  transition: border-color 0.2s, box-shadow 0.2s; /* pour les transitions au focus */
}

.contact:focus {
  border: 1px solid rgba(126, 34, 206, 0.5) !important;
  outline: none; /* Retire le contour par défaut */
  box-shadow: 0 0 0 2px rgba(126, 34, 206, 0.5); /* focus:ring-purple-600 */
  border-color: rgba(126, 34, 206, 1); /* focus:border-purple-600 */
}
.contact:hover {
  border: 1px solid rgba(126, 34, 206, 0.12) !important;
  outline: none; /* Retire le contour par défaut */
  box-shadow: 0 0 0 2px rgba(126, 34, 206, 0.354); /* focus:ring-purple-600 */
  border-color: rgba(126, 34, 206, 0.405); /* focus:border-purple-600 */
}

@media (max-width: 1024px) {
  .lottie {
    display: none;
  }
  
}
.team{
  display: flex;
  justify-content: center; /* Aligns the cards vertically at the center */
  gap: 40px;
  
}

.marquee {
  width: 100vw !important;
}




@media (max-width: 800px) {
  
  .team{
    display: flex;
    flex-direction: row; /* Change column to row */
    justify-content: center; /* Aligns the cards horizontally at the center */
    flex-wrap: wrap; /* Allows cards to wrap to the next line if needed */
    gap: 20px; /* Adds space between cards */
  } .name{
    font-size: 1.5rem !important;
  }

  .custom-card:last-child {
    margin-left: 0px;
    padding: 2.2rem;
  }
 
  }


  @media (max-width: 566px) {
  
    .team{
      display: flex;
      flex-direction: row; /* Change column to row */
      justify-content: center; /* Aligns the cards horizontally at the center */
      flex-wrap: wrap; /* Allows cards to wrap to the next line if needed */
      gap: 20px; /* Adds space between cards */
    } 
   
    
    .logoT{
      font-size: 1.5rem;
    }
  
    .custom-card:last-child {
      margin-left: 0px;
      padding: 2.2rem;
    }
    
    }
    .close{
      transition: 0.4s;

    }


    .close:hover{
      rotate: 180deg !important;
      scale: 1.01;
    }
    .togel{
      color: gray !important;
      transition: 0.4s;
    }
    .togel:hover{
      color: red !important;
      scale: 1.05 !important;
    }

   